[train] #train parameters
epoch = 100
batch_size = 4
shuffle = True
optimizer = sgd
learning_rate = 0.01
type_of_loss = bce_with_logits
weight_decay = 0.0007
momentum = 0.9
gamma = 0.95
step_size = 1
pre_train = 0
normalize = True
v_flip = False
h_flip = False
jittter = True
rotate = 0
image_size = 256
train_type = seg


[data] #data parameters
image_dataset = ./data/image_dataset
train_formatter = seg_basic
valid_formatter = seg_basic
table_path = ./data/table.csv

[model] #model parameters
name = deeplab
bidirectional = True
pretrain_path = ./pretrain_model.pkl


[output] #output parameters
model_path = ./model_path
model_name = model_name

accuracy_method = top1
